
<mat-drawer-container class="container" autosize>
  <app-navbar (history)="viewHistory();drawer.toggle()" (favorites)="viewFavorites();drawer.toggle()"></app-navbar>
  <mat-drawer #drawer class="side-drawer" mode="over">
    <strong>{{sideDrawerTitle}}</strong>
    <app-results-list [list$]="list$" (resultClicked)="playVideo($event);drawer.toggle()"></app-results-list>
  </mat-drawer>

  <div class="main-layout-content">
    <app-main-layout></app-main-layout>
  </div>

</mat-drawer-container>
